button[name="btAlterar"] {
    background-color: #27AE60;
    color: #F8F8EC;
}

button[name="btAdicionar"]:hover {
    background-color: #219653;
}

button[name="btDeletar"] {
    background-color: #c0392b;
    color: #f8f8ec;
  }

  button[name="btDeletar"]:hover {
    background-color: #a93226;
  }

