/* TABELA */
table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

thead th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  text-align: center;
}

tbody td {
  padding: 8px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #e8e8e8;
}

tbody tr:nth-child(odd) {
  background-color: #d2d5d8;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}




/* Estilos para os botões de edição 
.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
  



/* BOTÃO ADICIONAR CLIENTES */
.btAdicionar {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
}

.btAdicionar button {
  font-size: 50px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: #2b4c7e;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btAdicionar button:hover {
  background-color: #457cce;
}
