.table-container {
  display: inline-block;
  margin-left: 16%;
  margin-top: 3%;
  height: 600px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  border-radius: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.table-container::-webkit-scrollbar {
    display: none; 
}

table {
  width: 100%;
  border-collapse: collapse;
  display:contents;
  align-items: center;
}

thead th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #d2d5d8;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


/* BOTÃO EDIÇÃO CLIENTES - TABELA*/
.editar-button {
  background-color: #8B322C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #820300;
  }
}


/* BOTÃO ADICIONAR CLIENTES */
.btNovo {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
}

.btNovo button {
  font-size: 50px;
  width: 55px;
  height: 55px;
  border: none;
  background-color: #2b4c7e;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btNovo button:hover {
  background-color: #1F3A66;
}
