.header {
  width: 100%;
  background-color: #2b4c7e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .btMenu {
  background-color: #2b4c7e;
  border: none;
}

.header .icon {
  width: 45px;
  height: auto;
  padding: 20px;
  border: none;
  border-color: #2b4c7e;
  background-color: #2b4c7e;
}


.header h1 {
  /*Escrita DEKA*/
  color: #f8f8ec;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.header h1 span {
  /*Escrita MILK*/
  color: #567ebb;
}

.btSair {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #e0e3e6;
  border: none;
  margin-right: 20px;
  color: #383939;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btSair:hover {
  background-color: #f2f2f2;
}

.conteudo {
  transition: margin-left 0.5s;
}

.conteudo.deslocado {
  margin-left: 200px; /* A largura da Barra Lateral */
}
